body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.mt-2 {
  margin-top: 2em;
}

.page-content {
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.layout-grid {
  display: flex;
  width: 100%;
}

.layout-cell {
  margin-right: 3px;
}

.layout-right {
  justify-content: flex-end;
}

.margin-horizontal--xxs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-horizontal--xs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-bottom--xxs {
  margin-bottom: 5px;
}

.margin-bottom--xs {
  margin-bottom: 10px;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
