faiss-cpu==1.6.3; sys_platform != 'win32' and sys_platform != 'cygwin'
httptools==0.1.1
jsonpickle==1.5.1
more-itertools==8.6.0
nltk==3.5
pandas==1.2.3
psycopg2-binary==2.8.6; sys_platform != 'win32' and sys_platform != 'cygwin'
schedule==1.0.0
scikit-learn==0.24.1
spacy==3.0.3
sqlalchemy-utils==0.36.8
tika==1.24
uvloop==0.15.2; sys_platform != 'win32' and sys_platform != 'cygwin'
vncorenlp==1.0.3
