.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  background-color: black;
  color: white;
}

.login-btn:hover {
  color: grey;
}

.login-btn:disabled,
.login-btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

.ext-login-btn {
  margin-left: 5px;
  margin-right: 5px;
}

input {
  display: block;
  width: 100%;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-label {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #262626;
}

.auth-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #262626;
}
